<div class="content">
  <table>
    <thead>
      <tr class="table__header">
        <th *ngFor="let column of tableHeader" (click)="sortTable(column)">
          {{ capitalize(column) }}
          <span *ngIf="isDescSorting(column)">▼</span>
          <span *ngIf="isAscSorting(column)">▲</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td class="table__body__nom" *ngIf="row.nom">{{ row.nom }}</td>
        <td class="table__body__prenom" *ngIf="row.prenom">{{ row.prenom }}</td>
        <td class="table__body__email" *ngIf="row.email">{{ row.email }}</td>
        <td class="table__body__jour" *ngIf="row.jour">{{ row.jour }}</td>
        <td class="table__body__designation" *ngIf="row.designation">
          {{ row.designation }}
        </td>
        <td class="table__body__prix" *ngIf="row.prix">{{ row.prix }}</td>
        <td
          class="table__body__modification"
          *ngIf="row.modification"
          (click)="onClickModification($event)"
          data-id="{{ row.id }}"
        ></td>
        <td
          class="table__body__delete"
          *ngIf="row.delete"
          (click)="onClickDelete($event)"
          data-id="{{ row.id }}"
        ></td>
        <td class="table__body__compte" *ngIf="row.compte"></td>
      </tr>
    </tbody>
  </table>
</div>
