<div class="content">
  <table>
    <thead>
      <tr class="table__header">
        <th
          class="table__header__nom"
          scope="col"
          sortable="nom"
          (sort)="onSort($event)"
          *ngIf="tableHeader.nom"
        >
          {{ tableHeader.nom }}
        </th>
        <th
          scope="col"
          sortable="prenom"
          (sort)="onSort($event)"
          *ngIf="tableHeader.prenom"
        >
          {{ tableHeader.prenom }}
        </th>
        <th
          scope="col"
          sortable="email"
          (sort)="onSort($event)"
          *ngIf="tableHeader.email"
        >
          {{ tableHeader.email }}
        </th>
        <th
          scope="col"
          sortable="jour"
          (sort)="onSort($event)"
          *ngIf="tableHeader.jour"
        >
          {{ tableHeader.jour }}
        </th>
        <th
          scope="col"
          sortable="designation"
          (sort)="onSort($event)"
          *ngIf="tableHeader.designation"
        >
          {{ tableHeader.designation }}
        </th>
        <th
          scope="col"
          sortable="prix"
          (sort)="onSort($event)"
          *ngIf="tableHeader.prix"
        >
          {{ tableHeader.prix }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td class="table__body__nom" *ngIf="row.nom">{{ row.nom }}</td>
        <td class="table__body__prenom" *ngIf="row.prenom">{{ row.prenom }}</td>
        <td class="table__body__email" *ngIf="row.email">{{ row.email }}</td>
        <td class="table__body__jour" *ngIf="row.jour">{{ row.jour }}</td>
        <td class="table__body__designation" *ngIf="row.designation">
          {{ row.designation }}
        </td>
        <td class="table__body__prix" *ngIf="row.prix">{{ row.prix }}</td>
        <td class="table__body__modification" *ngIf="row.modification"></td>
        <td class="table__body__delete" *ngIf="row.delete"></td>
        <td class="table__body__compte" *ngIf="row.compte"></td>
      </tr>
    </tbody>
  </table>
</div>
