<h1 [className]="'titleHomepage'">Les plats de la semaine</h1>
<div
  ngDefaultControl
  [(ngModel)]="filteredOption"
  name="locationFilter"
  id="Filter"
>

  <div *ngFor="let option of weekday; index as i; first as isFirst">
    <button type="button"
      [ngClass]="
        i === indexSelected
          ? 'selected filterButton'
          : 'filterButton'
      "
      (click)="setValue(i)"
    >
      {{ option | titlecase }}
    </button>
  </div>
</div>

<div id="allMeals">
@for (item of filteredOptions; track item.id) {
  <div [className]="'cardMeal'">
  <h3>{{ item.label }}</h3>
  <div [className]="'price'">
Seul<p>{{item.priceDF}} €</p></div>
<button type="button" [className]="'selected filterButton'">Commander</button></div>
  } @empty {
  <li>Pas de plat aujourd'hui</li>
  }
</div>

